<h1 style="text-align: center;">Olympic Games</h1>

<div class="card">
    <p-table [value]="games" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-game>
            <tr>
                <td>
                    <a [routerLink]="['/olympic-games/game', game.id]">
                        {{ game.year }}
                    </a>
                </td>
                <td>{{ game.name }}</td>
                <td>{{ game.typeId === 1 ? 'Summer' : 'Winter' }}</td>
                <td>{{ game.city }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>